# ignore jupyter lab temp files
#
**/.ipynb_checkpoints
**/python/snapshot
**/__pycache__
# Ignore large data directories
**/data
**/models
**/check_augmentations_dir

# vscode directories
**/.vscode

# ignore generated image files
*.mha

# Tensorboard directories
**/runs

# Directory specific
TraumaticBrainInjury/python/unet_vs_pretrained/old_runs/

